Repository wzarek/Reasn, pull requests merged in 2024-05, with the labels that each got.

#23 RSN-51 - fixed gitattributes
  .gitattributes
  .gitattributes.txt
Labels: type: cleanup/refactor, status: ready for review

#11 [RSN-23] - Create constraints
  Database/init-constraints.sql
  Database/init-db.sql
  Database/init-dev-data.sql
Labels: scope: database, type: feature, status: ready for review

#30 [RSN-25] - Update init-db.sql
  Database/init-db.sql
Labels: scope: database, type: fix, status: ready for review

#18 [RSN-46] - Changed primary key setvalue
  Database/init-db.sql
  Database/init-dev-data.sql
Labels: scope: database, type: feature, status: ready for review

#31 [RSN-45] - Change parameters architecture, replaced role, status, object type with enum
  Database/.gitkeep
  Database/init-constraints.sql
  Database/init-db.sql
  Database/init-dev-data.sql
  Database/init-users.sh
Labels: scope: database, type: cleanup/refactor, status: ready for review

#34 [RSN-54] - Fixed missing setvalue in DB scripts
  Database/init-constraints.sql
  Database/init-db.sql
  Database/init-dev-data.sql
Labels: scope: database, type: fix, status: ready for review

#35 [RSN-44] - Scaffoled database
  Server/ReasnAPI/ReasnAPI/Models/Database/Address.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Comment.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Event.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Image.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Interest.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/ObjectType.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Parameter.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Participant.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/ReasnContext.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Role.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Status.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Tag.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/User.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/UserInterest.cs
Labels: scope: backend, scope: database, status: ready for review

#38 [RSN-58] - Split status enum into two seperate ones
  Database/init-constraints.sql
  Database/init-db.sql
  Database/init-dev-data.sql
Labels: scope: database, type: feature, status: ready for review

#39 [RSN-44] Scaffolded database
  Server/ReasnAPI/ReasnAPI/Models/Database/Address.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Comment.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Event.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Image.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Interest.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/ObjectType.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Parameter.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Participant.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/ReasnContext.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Role.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Status.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/Tag.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/User.cs
  Server/ReasnAPI/ReasnAPI/Models/Database/UserInterest.cs
  Server/ReasnAPI/ReasnAPI/Models/Enums/EventStatus.cs
  Server/ReasnAPI/ReasnAPI/Models/Enums/ObjectType.cs
  Server/ReasnAPI/ReasnAPI/Models/Enums/ParticipantStatus.cs
  Server/ReasnAPI/ReasnAPI/Models/Enums/UserRole.cs
  Server/ReasnAPI/ReasnAPI/Program.cs
Labels: scope: backend, status: ready for review
